- @page_title  = "FAQs"
- @body_class  = 'faqs'

#main
  .section
    %h2 Why Pilates?

    %h3
      Q:
      .question 
        I&rsquo;ve never even thought of taking Pilates. Why would I? What can it do for me?
    %p
      Regardless of your current fitness and exertion level, Dynamic Body Pilates maximizes your flexibility, strength, coordination, and agility&mdash;while supporting these wonderful changes (and protecting you) with expert guidance in posture and alignment. We examine the movements you perform every day&mdash;climbing stairs, lifting your child, golfing, dancing, simply sitting at your desk&mdash;and teach you to engage in them with balance and ease. As a result of our work, you&rsquo;ll be leaner, stronger, and more physically capable. Your body will transcend.

    %h3
      Q:
      .question I&rsquo;m thinking of taking Pilates classes at my gym. What makes your sessions different?
    %p
      What makes us different is our creation of a personalized, intelligent program just for you. Each of your sessions is fully optimized with our undivided attention and expert guidance. Rather than restricting you to a set series of generic exercises, we custom design your program to accommodate what you need and want your body to do. We take Pilates principles&mdash;and apply them uniquely to you, your lifestyle, and your life.


  .section
    %h2 What About My Pain?

    %h3
      Q:
      .question
        I have recurring back and hip pain. Should I treat it with Massage, Acupuncture, Chiropractic, or Pilates?
    %p 
      Massage, Acupuncture, and Chiropractic can ease the symptoms of your pain. But they are not ongoing solutions. Without some type of movement training after your treatment(s), you&rsquo;ll probably engage in the same movement patterns that created your pain in the first place. Dynamic Body Pilates is both proactive and preventive: through movement, it aligns your bones and muscles&mdash;to change your body for life.

    %h3
      Q:
      .question
        What makes your one-on-one Pilates instruction different from others?
    %p
      While resolving her dance injuries, Founder Rebecca Lubart was no less than relentless in her exploration of movement across disciplines and perspectives. As a result, she has an unusually comprehensive understanding of not only physiological cause and effect, but also a vast repertoire of ways to apply her skills to your body. What emerges&mdash;and what you&rsquo;ll experience&mdash;is customization beyond the vast majority of private Pilates sessions: one that is uniquely suited to your physique, concerns, and aims.

    %h3
      Q:
      .question
        Is what you do a type of Physical Therapy?
    %p
      No. Dynamic Body Pilates is not Physical Therapy. If you&rsquo;ve had surgery, you would typically seek Physical Therapy first, then see us in order to learn how to move well and stay well. If you are considering surgery, the techniques used by Dynamic Body Pilates can help build muscular balance and integration&mdash;and help you steer clear of surgery and Physical Therapy altogether.

    %p
      One of our clients is a lifetime competitive tennis player and coach. At 38, his knees were badly injured and in pain. He was considering surgery. But after a few months of our instruction, his knees stopped bothering him entirely!  

    %h3
      Q:
      .question
        I want to get in shape and have been thinking of hiring a personal trainer. I'm 57. I&rsquo;ve had two children, foot surgery, and pins put into my knee. I also have arthritis in my hands, bursitis in my elbow, and assorted low back and neck aches. Can Dynamic Body Pilates get me in shape, while addressing all of my issues?
    %p
      What you need is a safe and strategic plan for exercise, created by someone who understands your body&rsquo;s particular requirements. In short: you need an intelligent person to teach you intelligent exercise. Unlike the vast majority of personal trainers, Rebecca Lubart has studied a broad range of movement modalities and anatomy. In many ways, you are her ideal client: she has helped many clients with multiple body issues to become strong from the inside out. 


  .section
    %h2 Time & Equipment 

    %h3
      Q:
      .question
        Can I practice on my own to maximize the benefits of my sessions?
    %p
      Absolutely. We&rsquo;ll work out a practice plan according to your needs, capabilities, and schedule. Typically, you&rsquo;ll be performing one each of a daily awareness exercise (see the next question), and a brief (5-minute) daily strength exercise that draw from the work of our sessions.   

    %h3
      Q:
      .question
        What&rsquo;s an &ldquo;awareness&rdquo; exercise? How much time do they take?
    %p
      Awareness exercises take no time. They simply bring consciousness to the ways you move. For example, for someone with hip pain, an awareness exercise might include directing your attention toward: a) whether you propel your legs forward equally as you walk, and b) whether your feet face the same direction as you walk. The &ldquo;work&rdquo; is easy: it takes seconds, and is extremely rewarding.   

    %h3
      Q:
      .question
        Is the work the same regardless of whether I come to your studio or work from home?
    %p
      All of our three studios are equipped with a Pilates Reformer and Cadillac among other machines. But you don&rsquo;t need this specialized equipment to perform Dynamic Body Pilates. Our sessions can be conducted with props, such as a foam roller and small weights…or without anything at all.   A few of our clients own a Pilates Reformer system. If you wish to purchase one, they range from $1,600 to $6,000, and you can find them on sites such as www.pilates.com (please consult your instructor first). But again: a Reformer is not required to perform our work.

#sidebar
  = partial 'sidebar_faqs'
