- @page_title  = 'What We Do'
- @body_class  = 'home'

#main
  .quotes
    %blockquote 
      She&rsquo;s 57, and a mother of three. She has hip and back pain, and a bad 
      rotator cuff. She figured she was too out of shape to get in shape.
    %blockquote 
      He&rsquo;s 76. He&rsquo;s got Parkinson&rsquo;s disease, but he&rsquo;s a fighter. He wants to 
      get his motion back—beginning with a normal walk. 
    %blockquote.last 
      He&rsquo;s 38. He&rsquo;s been a tennis instructor for 15 years. Then, a knee injury 
      landed him in so much pain he could barely walk. He was headed for surgery. 

  %h2 What do these three have in common? 

  %p 
    They&rsquo;re all searching for a personal breakthrough in mobility, fitness, and 
    bodily ease. Their issues are too specific or compounded for rote, 
    cookie-cutter moves. They need to rebuild their movement—from the ground up. 

  %p 
    They found the answer with Dynamic Body Pilates. 

  %p 
    Dynamic Body Pilates is custom Pilates for your body. Influenced by the Alexander 
    Technique, Feldenkrais&trade;, and dozens of other movement modalities, we create 
    a program specifically for you. We&rsquo;ll teach you where movements should originate 
    from, and introduce you to muscles you didn&rsquo;t know existed, making you more fit 
    and in control.

  %p 
    As your awareness increases, so do your ease and grace. Pain recedes. And you 
    feel like the person you forgot you could be.

  %blockquote 
    The mother of three banished her pain while getting in the best shape 
    of her life. She recently completed a 17-mile swim in choppy 58-degree water.

  %blockquote 
    The Parkinson&rsquo;s patient walks with control over his movement—picking up his feet 
    as he goes. 

  %blockquote 
    After two months (8 sessions) with Dynamic Body Pilates, the tennis 
    instructor canceled his surgery. After 4 months (16 sessions) he was back on 
    the court, in full swing.

  %hr

  %a.contact
    Contact us to find out how Dynamic Body Pilates can achieve similar results for you. 

#sidebar
  = partial 'sidebar_home'
