- @page_title  = 'Is This For Me?'
- @body_class  = 'is-this-for-me'

#main
  %h2 Is Dynamic Body Pilates for me?

  %p 
    Our clients are a broad-ranging group. We train people with a variety 
    of physical and neuromuscular complaints (regardless of degree), people 
    with weight issues, athletes with and without injuries, and others for 
    whom movement is a centerpiece and a source of intrigue and/or challenge.

  %p 
    The one thing all of our clients have in common is their desire to 
    <strong>optimize their movement</strong> &mdash; for life.

  %p 
    Dynamic Body Pilates also goes beyond trauma, injury, and pain to 
    <strong>fine-tune</strong> our clients&rsquo; bodies so that they can <strong>prevent future issues</strong>. 
    For all of our clients, Dynamic Body Pilates works to <strong>discover your body&rsquo;s 
    innate capabilities</strong> &mdash; enhancing and unleashing its full range of potential.

  %h2 We are equipped to address:
  %ul.addressable-conditions
    %li Pre Natal 
    %li Post Natal 
    %li Injury 
    %li Trauma 
    %li Pain 
    %li Multiple Sites of Pain 
    %li Postural Issues 
    %li Hernias 
    %li Arthritis 
    %li Carpal Tunnel 
    %li Shoulder Issues 
    %li Rotator Cuff Issues 
    %li Foot and Ankle issues 
    %li Plantar Fasciatis 
    %li Knee Issues 
    %li Back Issues 
    %li Hip Issues 
    %li Leg Issues 
    %li Meniscal Tears 
    %li ACL 
    %li PCL 
    %li Knee and Hip Replacements 
    %li Core Strength 
    %li Flexibility 
    %li Issues 
    %li ITBand Syndrome 
    %li Tendinitis 
    %li Scoliosis 
    %li Multiple Sclerosis 
    %li Herniated Discs 
    %li Bursitis 
    %li Sciatica 
    %li Osteoporosis 
    %li Osteopenia 
    %li Parkinson&rsquo;s Disease 
    %li Obesity 
    %li Major Weight Loss through diet or surgery 
    %li Pre-Surgery
    %li Post-Surgery 
    %li Surgery Avoidance 
    %li Post Physical Therapy 
    %li Performance Improvement 
    %li Mobility Maximization 
    %li Injury Prevention & Protection 
    %li Fine-Tuning 

  %hr

  %a.contact
    Contact us to find out how Dynamic Body Pilates can address these concerns,
    eliminate pain, and expand your capabilities for the rest of your life.

#sidebar
  = partial 'sidebar_is_this_for_me'
