- @page_title  = "Our Services"
- @body_class  = 'our-services'

#main
  %h2 Our Services

  %p
    Dynamic Body Pilates works to <strong>discover your body&rsquo;s innate 
    capabilities</strong> &mdash; enhancing and unleashing its full range of potential.

  %p
    If your body is experiencing pain, injury, or trauma, we&rsquo;ll work 
    to liberate your movement and accelerate your recovery.

  %p
    If your body is fit and strong, our work helps you transcend to the next 
    level.

  %h3 Our work is 100% customized.  

  %ol
    %li.one
      %p We study your body: watching you stand, walk, and move. 

    %li.two
      %p We identify your issues, and design a system of exercises that works to: 
      %ul
        %li Improve coordination, posture, and muscle tone
        %li Release tight muscles and joints, and
        %li Build stability and strength. 

    %li.three
      %p
        You practice, while we guide your alignment, and help the pieces remain 
        connected to the whole.

  %p 
    We perform our work by appointment &mdash; in 55-minute sessions. In-Home 
    & Office sessions are available in Manhattan and select areas of Brooklyn 
    and Queens. Or, we invite you to visit one of three fully equipped studio 
    locations in Chelsea, the Financial District, and Brooklyn Heights.  

  %p
    To increase results, all clients are offered practice exercises to perform on 
    their own.  These take minimal time (just five minutes a day) and are extremely 
    rewarding.

  %hr

  %a.contact
    Contact us for questions and other specifics about our services.

#sidebar
  = partial 'sidebar_services'
