- @page_title  = 'Our Founder'
- @body_class  = 'our-founder'

#main
  %h2 About Rebecca Lubart

  %p 
    Founder Rebecca Lubart has been engaged in the art of movement for her entire 
    life. Growing up in New York City, the founder of Dynamic Body Pilates was 
    a competitive figure skater, competing against such greats as Olympian Tara 
    Lapinsky. A student at the prestigious Spence School, she found herself 
    drawn to modern dance, and switched disciplines. She received a four-year 
    Presidential Arts Scholarship (Dance) at The George Washington University, 
    and graduated cum laude with a B.A. in Theatre and Dance.   

  %h2 Excruciating Pain

  %p 
    At GW, a fall &mdash; made worse by poor movement patterns &mdash; led 
    Ms. Lubart to herniate four discs, leaving her in excruciating pain
    &mdash; at 21. Chiropractors, Massage Therapists, and Physical Therapists alleviated 
    the pain &mdash; but it always returned, more intensely than before.


  %p
    Seeking answers, Ms. Lubart met a Pilates instructor. She taught her the 
    difference between proper and poor (unsupported) movement. This opened 
    her eyes. Ms. Lubart enrolled in the Kane School of Core Integration, a 
    teacher training and Pilates Certification Program specializing in biomechanically-
    based Pilates.  

  %h2 Pain-Free Living

  %p
    Ms. Lubart turned from intense bodily movement... to intense bodily study. 
    She studied bones, muscles, fascia, and most importantly, how all the different 
    parts of the body should interact to connect as a healthy whole. Through wonderful 
    teachers, training programs, and multiple certifications, Ms. Lubart was able 
    to rehabilitate her own spine. She is able to dance again, and lives a pain-free 
    life.

  %p
    Ms. Lubart is a certified Pilates Instructor in Mat and Equipment. She revels 
    in introducing others to movement at its absolute finest.

#sidebar
  = partial 'sidebar_our_founder'
