%ul#footer-links
  %li.contact
    %a.contact
      <strong>Contact us to find out how Dynamic Body Pilates can achieve specific results for you.</strong>
      <hr/>
      Call <strong>917-613-1552</strong> or email <strong class="m"><span class="email-name"></span>@ <span class="email-domain"></span></strong>
  %li.faqs
    %a{:href => '/faqs', :alt => 'FAQs'}
      <strong>Why Pilates?<br/> What about My Pain?<br/> What About Time and Equipment?</strong>
      <hr/>
      Find the answers in our <strong>Frequently Asked Questions</strong> section.  
  %li.facebook
    %a{:href => "http://www.facebook.com/pages/Dynamic-Body-Pilates/135782709819394", :alt => "Dynamic Body Pilates Facebook Page", :rel => 'external'}
      <strong>Join us on Facebook</strong>
      <hr/>
      You might really <strong>Like</strong> all of our updates and special offers.  
  %li.twitter
    %a{:href => 'http://twitter.com/DynamicBPilates', :alt => "Dynamic Body Pilates Twitter Feed", :rel => 'external'}
      <strong>Twitter Today</strong>
      <hr/>
      Follow us on Twitter for tips and quick info.
  %li.linkedin
    %a{:href => 'http://www.linkedin.com/pub/rebeccca-lubart/29/492/681', :alt => "Ms. Lubart's LinkedIn Profile", :rel => 'external'}
      <strong>Learn More</strong>
      <hr/>
      See Ms. Lubart&rsquo;s full certifications on LinkedIn.

%hr

#footer-bottom
  .copyright
    &copy; 2011 Dynamic Body Pilates | <a href="http://www.marketsmiths.com" rel="external">Website copy</a> by <a href="http://www.marketsmiths.com" rel="external">MarketSmiths</a>
  .e9digital-link
    %a{:href => "http://www.e9digital.com", :rel => "external"}
      Website design
