%a{:href => 'http://www.linkedin.com/pub/rebeccca-lubart/29/492/681', :alt => "Ms. Lubart's LinkedIn Profile", :rel => 'external'}
  To see a complete listing of Ms. Lubart's certifications please visit her profile on LinkedIn.
