= partial 'rebecca', :locals => { :n => 1 }

%blockquote 
  &ldquo;I love the creativity of my job. 
  %hr
  I see the body clearly &mdash; along with all of its potential, 
  and I love finding the right combination of movements for every person. 
  %hr
  We can move in so many ways, and none of them have to involve pain, 
  injury, or trauma.&rdquo;
  %hr
  &ndash; Rebecca Lubart
%hr

= partial 'our_founder_link'
