= partial 'rebecca', :locals => { :n => 5 }
%blockquote
  &ldquo;What I have found through Rebecca, is something far more than 
  a work out. Rebecca helps keep you focused, and focuses the work out 
  on how you are feeling - two &ldquo;core&rdquo; things a great 
  instructor should do.  No matter what shape you&lsquo;re in, she's the right 
  person for you.&rdquo;
  %hr
  &ndash; Marisa M.
%hr

%a{:href => "/our-founder", :alt => "Our Founder"}
  Read about Ms. Lubart and how she overcame her own painful spinal injury...
