= partial 'rebecca', :locals => { :n => 2 }

%blockquote
  &ldquo;I suffer from Parkinson's Disease, and Rebecca tailored my exercise 
  program to the progression of the disease in a way which none of my previous 
  instructors were able to do.  If you want someone who will give you 
  individualized treatment, Rebecca is the one for you.  I can see the difference 
  in my gait and my movement.&rdquo; 
  %hr
  &ndash; Joseph R.
%hr

%a{:href => "/our-services", :alt => "Our Services"}
  Find out how Dynamic Body Pilates will help you to discover your body's innate capabilities...
