= partial 'rebecca', :locals => { :n => 4 }

%blockquote
  &ldquo;Honestly, I didn't realize that Pilates could accomplish so much, 
  but with Rebecca as an expert facilitator, I'm doing more than I thought possible
  and feeling better at the same time.  For those with body challenges, 
  she's the best - expert, creative, focused, and motivational.&rdquo;
  %hr
  &ndash; Katharine L.
%hr

%a{:href => "/faqs", :alt => "FAQs"}
  Read our Frequently Asked Questions page to find out more about Dynamic Body Pilates...
