= partial 'rebecca', :locals => { :n => 3 }

%h3.rates-header.home In Home & Office Rates
%hr
%ul.rates
  %li
    <b>Single Session - $140</b>
  %li
    <b>Five Sessions - $675</b> 
    <br/>($135 per session)
  %li
    <b>Ten Sessions - $1,300</b> 
    <br/>($130 per session)
  %li
    <b>Twenty Sessions - $2,500</b>
    <br/>($125 per session)
  %li
    <b>Two Introductory Sessions - $190</b> 
    <br/>(first-time clients only at $95/session)

%h3.rates-header.studio In Studio Rates
%hr
%ul.rates
  %li 
    <b>Single Session - $115</b>
  %li 
    <b>Five Sessions - $550</b> 
    <br/>($110 per session) 
  %li 
    <b>Ten Sessions - $1,050</b>
    <br/>($105 per session) 
  %li 
    <b>Twenty Sessions - $2,000</b> 
    <br/>($100 per session) 
  %li 
    <b>Two Introductory Sessions - $150</b> 
    <br/>(first-time clients only at $75/session)

%hr

%p.legal We honor cancellations given<br/>at least 24 hours in advance.
%p.legal Packages expire one year from purchase.
