%ul
  %li.home
    %a{:href => '/'}
      What We Do
  %li.is-this-for-me
    %a{:href => '/is-this-for-me'}
      Is This For Me?
  %li.our-services
    %a{:href => '/our-services'}
      Our Services
  %li.our-founder
    %a{:href => '/our-founder'}
      Our Founder
  %li.faqs
    %a{:href => '/faqs'}
      FAQs
